@import './_variables';

.BoxMessageContainer{
    width: 100%;
    height: 40rem;
    background-color: $dark-background;
    display: flex;
    align-items: center;
    justify-content: center;
    .BoxMessage{
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-background;
        color: $text-light;
        text-align: center;
        font-weight: 700;
        @media (min-width: $screen-large) {
            width: 70%;
            height: 30%;
            font-size: 30px;
        }

        @media (max-width: $screen-large){
            width: 100%;
            height: 30%;
            font-size: 25px;
        }
    }
}