.ContactCard{
    width: 230px;
    height: 290px;
    border: 2px solid white;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    margin-right: 15px;
    margin-bottom: 15px;

    .Card-Description{
        font-size: 15px;
    }
    .Card-Title{
        font-size: 20px;
    }
    .Card-Image{
        img{
            width: 80px;
            height: 80px;
        }
    }
}